html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.card {
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 0 6px 6px;
  position: relative;
  max-height: 500px;
  min-width: 100px;
}

.banner {
  padding-top: 0;
  line-height: 1.4;
  display: inline;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.card-body {
  width: 100%;
  padding: 0;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 1em;
  transform: translateX(-50%);
}

h2 + p {
  font-style: italic;
  font-size: 2rem;
  margin-top: 10px;
}

body {
  margin: 0;
}
